# Stuff that i hate
# Windows system files
Thumbs.db
Thumbs.db:encryptable
desktop.ini
$RECYCLE.BIN/
*.lnk

# Editor directories and files
.vscode/
.idea/
*.swp

# Logs and backups
*.log
*.backup
backup/

# Neovim specific
Session.vim
.netrwhist
*.swp
*.swo
undo/
shada/

.env
.env.*
*.pem
*.key
*.pub
id_rsa*
*.pfx
*.p12